# data folders / files
Data/Resources/ocr-output/DEFE-*/tiff
Data/Resources/ocr-output/DEFE-*/*.pdf
Data/Resources/ocr-output/DEFE-*/outtxt-clean
Data/Resources/ocr-output/DEFE-*/outtxt-clean-tika
Data/scraped*.txt


# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# misc
.DS_Store

Data/Resources/ufo_stalker.json

