# data folders / files
Data/DEFE-24-1922/tiff/*
Data/DEFE-24-1924/tiff/*
Data/DEFE-24-1925/tiff/*
Data/DEFE-31-172/tiff/*
Data/DEFE-31-173/tiff/*
Data/DEFE-31-174/tiff/*
Data/DEFE-31-175/tiff/*
Data/scraped*.txt
Data/Input/ufo-stalker-images

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# misc
.DS_Store

Data/Resources/ufo_stalker.json

